/* ***** BASE-STYLES ***** */
/* CUSTOM VARIABLES  */
:root {
    --main-white: #f0f0f0;
    --main-gray: rgb(88, 88, 88);
    --darker-gray: rgb(77, 77, 77);
}

/* RESET BASE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* RESET BOX/FONT-SIZE */
html {
    box-sizing: border-box;
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    /* A few media queries to set some font sizes at different screen sizes.
     * This helps automate responsiveness.
     * The trick is to use the rem unit for size values, margin and padding.
     * Because rem is relative to the document font size
     * when we scale up or down the font size on the document
     * it will affect all properties using rem units for the values.
    */
    scroll-behavior: smooth;
}

/* BASE STYLES */
body {
    font-family: monospace;
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--main-gray);
    /* TODO: Create background by subtracting footer height */
    background-image: linear-gradient(180deg,
            rgba(240, 248, 255, 1) 80vh,
            rgba(153, 153, 153, 1) 90%,
            rgba(85, 85, 85, 1) 100%),
        url(../assets/subtle-patterns-.com-white_wall_hash.webp);
    background-repeat: repeat;
    background-blend-mode: ;
}

h1 {
    text-align: center;
    font-weight: 500;
    /* font-size: 4rem; */
    font-size: calc(0.035 * 100vh);
    /* font-size: clamp(.1rem, 1.8rem, 20rem); */
    color: var(--darker-gray);
    /* line-height: 1; */
}

p {
    font-size: calc(0.02 * 100vh);
}

ul {
    list-style: none;
    font-size: calc(0.02 * 100vh);
}

a {
    text-decoration: none;
    color: var(--main-white);
}

button {
    font-family: monospace;
    /* font-size: 2rem; */
    font-size: calc(0.025 * 100vh);
    color: black;
    position: relative;
}

/* ***** ANIMATION ***** */

/* FADEIN ANIMATION */
/* https://codepen.io/JTBennett/pen/BjpXRo */
.fade-in {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* BUTTON ANIMATION */
/* https://ui-buttons.web.app/material-ripple */
/* TODO: 不明白 */

.btn-highlight {
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
}

.btn-highlight:before {
    opacity: 0.2;
    border-radius: 50%;
    aspect-ratio: 1;
    background: #fff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    animation: enlarge 1.5s infinite;
}

@keyframes enlarge {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.33);
    }
}

/* ***** SECTIONS ***** */

#background-image {
    position: absolute;
    /* min-width: 100%; */
    /* min-height: 100%; */
    min-height: 166%;
    margin: 0;
    padding: 0;
    filter: blur(0.5rem);
}

body::before {
    background-image: url(../assets/subtle-patterns-.com-white_wall_hash.webp);
    background-repeat: repeat;
    position: absolute;
    opacity: 1;
}

/* WELCOME */
.welcome {
    position: relative;
    height: calc(95vh - 10rem);
    max-width: calc(100vh - 10rem);
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: solid red; */
    box-shadow: 0px 0px 33px #333333;
    border-radius: 7.5rem;
    /* BACKGROUND */
    background-image: url(../assets/mountains-bottom.jpg);
    background-position: bottom;
    background-size: 100% 100%;
    padding: 1rem;
}

.welcome p {
    /* font-size: 2rem; */
    font-weight: 200;
}

.welcome p,
.welcome h1 {}

.welcome .links-container-2 {
    margin-top: 5rem;
}

.welcome .links-container-2 a {
    display: block;
    margin: 2.5rem 0rem;
    color: white;
}

.welcome button {
    color: var(--darker-gray);
    width: 20rem;
    color: white;
    background-color: rgb(66, 66, 66);
}

/* NAV */
.nav {
    position: absolute;
    top: 5rem;
    min-width: 100%;
    background: transparent;
    z-index: 1;
}

.nav-list {
    /* box containing the <a> elements */
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem;

}

.nav-list a {
    display: flex;
    transition: transform 0.3s ease-out;
    color: var(--darker-gray);
}

.nav-list a:hover {
    transform: translateY(0.25rem);
}

/* ABOUT */
.about {
    position: relative;
    height: calc(95vh - 10rem);
    max-width: calc(100vh - 10rem);
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 2.5rem 0rem 2.5rem;
    text-align: center;
    color: black;
    /* border: solid red; */
    box-shadow: 0px 0px 33px #333333;
    border-radius: 50px;
    /* BACKGROUND */
    background: #dddddd;
    border: solid red;
}

.about a {
    color: black;
}

.about p {
    /* font-size: 2rem; */
    font-size: calc(0.02 * 100vh);
    font-weight: 200;
    text-align: left;
    position: relative;
    height: 75vh;
    border: solid red;
    padding: 0rem 5rem;
}

/* TODO: resize */
.about img {
    position: relative;
    max-width: 10rem;
}

/* POSTERS */
/* TODO: 圓角 */
.posters {
    display: flex;
    /* POSTERS:LINKS:FOOTER || 17.5 : 50 : 32.5 */
    /* height: calc(17.5vh - 5vh); */
    height: calc(25vh - 7.5vh);
    margin: 2.5vh auto 5vh auto;
    max-width: calc(100vh - 10rem);
    -webkit-mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent);
    /* mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent); */
    overflow: hidden;
    /* border: solid red; */
}

.posters img {
    margin: 0rem 0.5rem;
    /* box-shadow: 0px 0px 10rem grey; */
    animation: slide 125s linear infinite;
}

.square {
    border-radius: 10%;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1500px, 0, 0);
    }
}

/* LINKS */
/* TODO: default styles - button */
.links-container {
    /* allow overlay */
    position: relative;
    /* POSTERS:LINKS:FOOTER || 17.5 : 50 : 32.5 */
    height: 50vh;
    margin: 0 auto;
    /* base on vh as h is always =< vw */
    max-width: calc(66.66vh);
    padding: 5vh 5vh;
    background: linear-gradient(180deg,
            white,
            darkgrey);
    border-radius: 50px;
    box-shadow: 0px 0px 33px #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.links-container button {
    min-height: calc((50vh/3) - 7.5vh);
    border-radius: 25rem;
    width: 100%;
    background: #222222;
    transition: color 0.5s, background 0.5s, font-size 0.5s;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-container button:hover {
    cursor: pointer;
    color: black;
    background: rgba(200, 200, 200, 0.25);
    border: solid 0.33rem #222222;
    font-size: calc(0.0275 * 100vh);
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    border-radius: 50px;
    /* Adjust the opacity as desired */
    background-image: url(../assets/mountains-bottom-被裁切.jpg);
    z-index: 0;
}

.background-overlay {
    /* background: linear-gradient(180deg,
            aliceblue 80vh,
            #999999 90%,
            #555 100%); */
    /* opacity: 0.5; */
    /* Adjust the opacity as desired */
    /* background-image: url(../assets/subtle-patterns-.com-white_wall_hash.webp); */
    /* background-repeat: repeat; */
    /* width: 100%; */
    /* height: 100%; */
}

.links-grid {
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-bottom: 5rem; */
    /* border: solid red; */
}


/* Footer */
footer {
    position: relative;
    height: 25rem;
    max-width: calc(66.6vh);
    margin: 0rem auto 0rem auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0rem 5rem;
    border: solid red;
}

footer .other-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    align-content: center;
    /* font-size: 2rem; */
    font-size: calc(0.0225 * 100vh);
    text-shadow: 0px 0px 5px #1f1f1f;
}

footer .other-links .fab,
footer .other-links .fa-solid {
    margin-right: 0.5rem;
}

.other-link-btn {
    margin: 0rem 1rem 1rem 1rem;
    transition: transform 0.3s ease-out;
}

.other-link-btn:hover {
    transform: translateY(0.25rem);
}

footer .copyright {
    position: absolute;
    color: white;
    font-size: calc(0.015 * 100vh);
    /* bottom: calc(-2.5rem + 1rem); */
    bottom: 1rem;
}

#logo {
    position: fixed;
    height: 3.33vh;
    bottom: 1rem;
    left: 1rem;
    opacity: 33%;
}

/* *****RESPONSIVE-DESIGN***** */
/* ~orientation switches from horizontal to vertical */
/* ~ */
@media (max-width: 100vh) {

    .welcome,
    .about,
    .posters {
        max-width: calc(100vw - 10rem);
    }

    .links-container {
        max-width: 66.66vw;
    }

    .nav {
        min-width: 100%;
    }
}

@media (max-width: calc(66.66vh + 10rem)) {

    .links-container button {
        width: 100%;
    }
}

/* @media (min-width: 66.6vw) {
    h1 {
        font-size: calc(0.05 * 100vw);
    }
} */