/* //////////BASE-STYLES////////////////////////////// */
/* CUSTOM VARIABLES  */
:root {
    --main-white: #f0f0f0;
    --main-gray: rgb(88, 88, 88);
    --darker-gray: rgb(77, 77, 77);
}

/* RESET BASE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* RESET BOX/FONT-SIZE */
html {
    box-sizing: border-box;
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    /* A few media queries to set some font sizes at different screen sizes.
     * This helps automate responsiveness.
     * The trick is to use the rem unit for size values, margin and padding.
     * Because rem is relative to the document font size
     * when we scale up or down the font size on the document
     * it will affect all properties using rem units for the values.
    */
    scroll-behavior: smooth;
}

/* BASE STYLES */
body {
    font-family: monospace;
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--main-gray);
    /* TODO: Create background by subtracting footer height */
    background: linear-gradient(180deg,
            aliceblue 80vh,
            #999999 90%,
            #555 100%);
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 4rem;
    color: var(--darker-gray);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white)
}

button {
    font-family: monospace;
    font-size: 2rem;
    color: white;
}

/* //////////ANIMATION////////////////////////////// */

/* BACKGROUND ANIMATION */
/* https://codepen.io/P1N2O/pen/pyBNzX */

/* FADEIN ANIMATION */
/* https://codepen.io/JTBennett/pen/BjpXRo */
.fade-in {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* FLOAT ANIMATION */
/* https://codepen.io/MarioDesigns/pen/woJgeo */

/* BUTTON ANIMATION */
/* https://ui-buttons.web.app/material-ripple */
/* TODO: clean button animation code */

.btn-71:disabled {
    cursor: default;
}

.btn-71:-moz-focusring {
    outline: auto;
}

.btn-71 svg {
    display: block;
    vertical-align: middle;
}

.btn-71 [hidden] {
    display: none;
}

.btn-71 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    /* TODO: scroll problem reason */
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    max-width: 100vw;
    padding: 0;
}

.btn-71 {
    position: relative;
}

.btn-71:before {
    /* --opacity: 0.1; */
    /* opacity: var(--opacity); */
    opacity: 0.05;
    aspect-ratio: 1;
    background: #fff;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* TODO: width scroll issue */
    width: 100%;
    animation: enlarge 1.5s infinite;
}

/* GOOD */
@keyframes enlarge {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.33);
    }
}

/* ********************************************************************** */


#background-image {
    position: absolute;
    /* min-width: 100%; */
    /* min-height: 100%; */
    min-height: 166%;
    margin: 0;
    padding: 0;
    z-index: -1;
    filter: blur(0.5rem);
}

/* WELCOME */
.welcome {
    /* min-height: calc(100vh - 10rem); */
    height: calc(100vh - 10rem);
    max-width: calc(100vh - 10rem);
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-align: center;
    border: solid red;
    /* BACKGROUND */
    background-image: url(../assets/mountains-bottom.jpg);
    background-position: bottom;
    background-size: 100% 100%;
    box-shadow: 0px 0px 33px #333333;
    border-radius: 50px;
}

.welcome p {
    font-size: 2rem;
    font-weight: 200;
}



/* NAV */
.nav {
    position: absolute;
    top: 7.5rem;
    min-width: calc(100vh - 10rem);
    background: transparent;
}

.nav #language {
    position: absolute;
    left: 5rem;
}

.nav-list {
    /* box containing the <a> elements */
    display: flex;
    justify-content: flex-end;
    margin-right: 3.5rem;
    margin-top: 1rem;
}

.nav-list a {
    /* individual <a> elements */
    padding: 0rem 2rem;

    /* NAV ANIMATION */
    display: flex;
    transition: transform 0.3s ease-out;
    color: var(--darker-gray);
}

.nav-list a:hover {
    transform: translateY(5px);
}

/* ABOUT */
/* TODO: integrate with JS */
.welcome .about {
    position: absolute;
    min-height: calc(100vh - 50px);
    max-width: calc(100vh - 50px);
    margin: 5 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7.5rem;
    text-align: left;
    /* BACKGROUND */
    color: silver;
    background-color: #121212;
    /* box-shadow: 0px 0px 75px black; */
    border-radius: 50px;
}

/* POSTERS */
/* TODO: 圓角 */
.posters {
    display: flex;
    /* POSTERS:LINKS:FOOTER || 17.5 : 60 : 22.5 */
    height: calc(17.5vh - 5vh);
    margin: 2.5vh auto;
    max-width: calc(100vh - 10rem);
    -webkit-mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent);
    /* mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent); */
    overflow: hidden;
    border: solid red;
}

.posters img {
    margin: 0rem 0.5rem;
    /* box-shadow: 0px 0px 10rem grey; */
    animation: slide 150s linear infinite;
}

.square {
    border-radius: 10%;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1500px, 0, 0);
    }
}



/* LINKS */
/* TODO: default styles - button */
.links-container {
    text-align: center;
    /* POSTERS:LINKS:FOOTER || 17.5 : 60 : 22.5 */
    height: calc(60vh);
    margin: 0 auto;
    /* base on vh as h is always =< vw */
    max-width: calc(66.6vh - 10rem);
    /* padding: 5rem 0rem; */
    background: linear-gradient(180deg,
            white,
            gainsboro);
    border-radius: 30px;
    box-shadow: 0px 0px 33px #333333;
    padding: 5rem;
    border: solid red;
}

.links-container button {
    /* display: block adds a break and does not respect padding */
    display: inline-block;
    border-radius: 25px;
    width: 80%;
    height: 6.66rem;
    background: #222222;
    margin-bottom: 2.5rem;
    /* word-wrap: break-word; */
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    /* border-radius: 50px; */
    /* margin: 5rem; */
    /* border: none; */
    /* border: solid red; */
}

.links-container button:hover {
    cursor: pointer;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    /* transition: background 0.3s ease-out; */
}

.btn-show-all:hover {
    background: var(--main-red);
}

.btn-show-all:hover>i {
    transform: translateX(5px);
}

.btn-show-all>i {
    margin-left: 10px;
    /* not sure translateX(0) is completely necessary */
    /* perhaps just good ot set initial values */
    /* transform: translateX(0); */
    transition: transform 0.3s ease-out;
}

.links-grid {
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-bottom: 5rem; */
    /* border: solid red; */
}

.link a {}

/* a cool way to add light interactivity */
/* TODO: change to animated arrow */
.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
    vertical-align: 1.3px;
}

.link:hover .code {
    color: #ff7f50;
    /* vertical-align: 1px; */
}

.link-image {
    /* use calculate to leave room for a title at the */
    /* bottom of a grid block */
    height: calc(100% - 6.8rem);
    width: 100%;
    /* The image keeps its aspect ratio and fills the
    given dimension. The image will be clipped to fit */
    object-fit: cover;
}

/* //////////RESPONSIVE-DESIGN////////////////////////////// */
/* orientation switches from horizontal to vertical */
@media (max-width: 100vh) {
    .welcome {
        margin: 5rem;
    }

    .welcome .about {
        margin: 5rem;
    }

    .nav {
        min-width: calc(100vw - 10rem);
    }

    .posters {
        max-width: calc(100vw - 10rem);
    }

    .links-container {
        /* TODO: figure out gradal rather than sudden Responsive design */
        /*       container should match welcome screen at slimmest size */
        /* Two Thirds Less 5rem */
        max-width: calc(66.6% - 10rem);
    }
}

@media (max-width: 66.6vh) {
    .links-container {
        max-width: 66.6vw;
    }

    .links-container button {
        width: 100%;
    }
}
















/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* Contact section */
.contact-section {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* width: 100%; */
    /* height: 90vh; */
    /* padding: 0 2rem; */
    /* background: var(--main-gray); */
}

.contact-section-header>h2 {
    font-size: 6rem;
}

.contact-section-header>p {
    font-style: italic;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 0px 0px 5px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

/* Footer */
footer {
    font-weight: 300;
    /* POSTERS:LINKS:FOOTER || 17.5 : 60 : 22.5 */
    height: calc(22.5vh - 5vh);
    margin: 2.5vh auto;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    border-top: 4px solid var(--main-red);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border: solid red;
    /* background: var(--main-gray); */
    /* background: #444444; */
    /* box-shadow: 0px 0px 25px grey; */
}

footer .other-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

footer>p {
    margin: 2rem;
    color: white;
    text-shadow: 0px 0px 0px #1f1f1f;
}

footer .other-links {
    max-width: calc(66.6vh - 5rem);
}

footer i {
    vertical-align: middle;
}

#logo {
    position: fixed;
    width: 2.5rem;
    /* margin-top: 50px; */
    bottom: 1rem;
    left: 1rem;
    opacity: 33%;
}