/* CUSTOM VARIABLES  */
:root {
    --main-white: #f0f0f0;
    --main-gray: rgb(88, 88, 88);
    --darker-gray: rgb(77, 77, 77);
}

/* RESET BASE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* RESET BOX/FONT-SIZE */
html {
    box-sizing: border-box;
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    /* A few media queries to set some font sizes at different screen sizes.
     * This helps automate responsiveness.
     * The trick is to use the rem unit for size values, margin and padding.
     * Because rem is relative to the document font size
     * when we scale up or down the font size on the document
     * it will affect all properties using rem units for the values.
    */
    scroll-behavior: smooth;
}

/* BASE STYLES */
body {
    font-family: monospace;
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--main-gray);
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 4rem;
    color: var(--darker-gray);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--darker-gray)
}

/* BACKGROUND ANIMATION */
body {
    background: linear-gradient(-45deg, grey, Silver, AntiqueWhite);
    background-size: 1000% 1000%;
    animation: gradient 4s ease infinite;
    min-height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* FADEIN ANIMATION */
/* https://codepen.io/JTBennett/pen/BjpXRo */
.fade-in {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* FLOAT ANIMATION */
/* https://codepen.io/MarioDesigns/pen/woJgeo */
/* TODO: add multiple animations */
/* TODO: fix boxshadow animation */
.float {
    animation: float 5s infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* WELCOME */
.welcome-section {
    min-height: calc(100vh - 50px);
    max-width: calc(100vh - 50px);
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-align: center;
    /* BACKGROUND */
    background-image: url(../assets/mountains-bottom.jpg);
    background-position: bottom;
    background-size: 100% 100%;
    box-shadow: 0px 0px 75px black;
    border-radius: 50px;
}

.welcome-section p {
    font-size: 2rem;
    font-weight: 200;
}

/* NAV */
.nav {
    position: absolute;
    top: 5rem;
    min-width: calc(100vh - 5rem);
    background: transparent;
}

.nav-list {
    /* box containing the <a> elements */
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

.nav-list a {
    /* individual <a> elements */
    padding: 0rem 2rem;

    /* NAV ANIMATION */
    display: flex;
    transition: transform 0.3s ease-out;
    color: var(--darker-gray);
}

.nav-list a:hover {
    transform: translateY(5px);
}

/* POSTERS */
.posters {
    overflow: hidden;
    display: flex;
    height: 15rem;
    margin: 2.5rem auto;
    max-width: calc(100vh - 5rem);
}

.posters img {
    margin: 1.5rem 0.5rem;
    box-shadow: 0px 0px 1rem grey;
    animation: slide 500s linear infinite;
}

.square {
    border-radius: 10%;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1500px, 0, 0);
        /* The image width */
    }
}

/* WELCOME, NAV, posterssS RESPONSIVENESS */
@media (max-width: 100vh) {
    .welcome-section {
        margin: 2.5rem;
    }

    .nav {
        min-width: calc(100vw - 5rem);
    }

    .posters {
        max-width: calc(100vw - 5rem);
    }
}


/* ***************************************************************************************** */
/* Projects section */

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

/* @media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
} */

/* "Automagic" image grid using no media queries */
.projects-grid {
    display: grid;
    /* times repeated is automatic */
    /* size will be minimum 320px */
    /* size at max must take up 1 equal part accounting for minimum */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    /* if max-width not set grid will exceed 3 column */
    /* styling for large screens */
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

/* @media (max-width: 30.625em) {
    .projects-section {
        reduce from padding: 10rem 2rem; for smaller screens
        padding: 6rem 1rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
} */


.project {
    background: ;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.project-image {
    border-radius: 20px 20px 0 0;
}

/* a cool way to add light interactivity */
.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
    vertical-align: 1.3px;
}

.project:hover .code {
    color: #ff7f50;
    /* vertical-align: 1px; */
}

.project-image {
    /* use calculate to leave room for a title at the */
    /* bottom of a grid block */
    height: calc(100% - 6.8rem);
    width: 100%;
    /* The image keeps its aspect ratio and fills the 
    given dimension. The image will be clipped to fit */
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    /* display: block adds a break and does not respect padding */
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-red);
}

.btn-show-all:hover>i {
    transform: translateX(5px);
}

.btn-show-all>i {
    margin-left: 10px;
    /* not sure translateX(0) is completely necessary */
    /* perhaps just good ot set initial values */
    /* transform: translateX(0); */
    transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    padding: 0 2rem;
    background: var(--main-gray);
}

.contact-section-header>h2 {
    font-size: 6rem;
}

/* @media (max-width: 28.75em) {
    .contact-section-header>h2 {
        font-size: 4rem;
    }
} */

.contact-section-header>p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

/* Footer */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
    align-items: center;
}

footer>p {
    margin: 2rem;
}

footer i {
    vertical-align: middle;
}

/* @media (max-width: 28.75em) {
    footer {
        flex-direction: column;
        text-align: center;
    }
} */