.slideshow-box {
    width: 20rem;
    /* Adjust the width and height to your desired dimensions */
    height: 25rem;
    overflow: hidden;
    position: absolute;
    border: solid red;
    bottom: 2.5rem;
    right: 2.5rem;
}

.slideshow-box img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    animation: cycleImages 5s infinite;
    /* Adjust the duration as needed */
}

.slideshow-box img:nth-child(1) {
    animation-delay: calc(0.33*0 * 5s);
    /* Delay the animation start for the first image */
}

.slideshow-box img:nth-child(2) {
    animation-delay: calc(0.33*1 * 5s);
    /* Delay the animation start for the second image */
}

.slideshow-box img:nth-child(3) {
    animation-delay: calc(0.33*2 * 5s);
    /* Delay the animation start for the third image */
}

@keyframes cycleImages {

    0%,
    33.3333333333% {
        opacity: 1;
    }

    33.3333333334%,
    100% {
        opacity: 0;
    }
}