/* ***** BASE-STYLES ***** */
/* CUSTOM VARIABLES  */
:root {
    --main-white: #f0f0f0;
    --main-gray: rgb(77, 77, 77);

    /* title */
    --fs-600: 2rem;
    /* button */
    --fs-500: 1.5rem;
    /* subtitle */
    --fs-400: 1.25rem;
    /* normaltext */
    --fs-300: 1rem;
    /* copyright */
    --fs-200: 0.75rem;
}

/* RESET BASE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* RESET BOX/FONT-SIZE */
html {
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;
}

/* BASE STYLES */
body {
    font-family: monospace;
    font-size: var(--fs-300);
    line-height: 1.5;
    color: var(--main-gray);
    background-image: linear-gradient(180deg,
            rgba(240, 248, 255, 1) 80vh,
            rgba(153, 153, 153, 1) 90%,
            rgba(85, 85, 85, 1) 100%),
        url(../assets/subtle-patterns-.com-white_wall_hash.webp);
    background-repeat: repeat;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: var(--fs-600);
    color: var(--main-gray);
}

p {
    font-size: var(--fs-400);
    color: var(--main-gray)
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
    font-size: var(--fs-400);
}

button {
    font-family: monospace;
}

button a {
    font-size: var(--fs-500);
}

/* ***** ANIMATION ***** */
/* FADEIN ANIMATION */
/* https://codepen.io/JTBennett/pen/BjpXRo */
.fade-in {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* BUTTON HIGHLIGHT ANIMATION */
/* https://ui-buttons.web.app/material-ripple */

.btn-highlight {
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
}

.btn-highlight:before {
    opacity: 0.2;
    border-radius: 50%;
    aspect-ratio: 1;
    background: #fff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    animation: enlarge 1.5s infinite;
}

@keyframes enlarge {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.33);
    }
}

/* ***** BORDER TESTING ***** */
/* .welcome,
.welcome .nav,
.welcome .hero,
.welcome .title,
.welcome .hero .hero-links-container,
.welcome .hero .hero-links-container button,
.about,
.about .nav,
.about p,
.about .slideshow-box,
.posters,
footer,
footer .other-links-container,
footer .other-links-container a,
footer .other-links-container i,
footer .copyright {
    border: solid red;
} */

/* ***** SECTIONS ***** */
/* WELCOME */

/* NAV */
.nav {
    position: absolute;
    width: calc(100vw - 10rem);
    top: 2.5rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0 2.5rem;
}

.nav-list a {
    display: flex;
    color: var(--main-gray);
    font-size: var(--fs-300);
    transition: all 0.33s;
}

.nav-list a:hover {
    transform: scale(110%);
}

/* HERO */
.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80svh;
    padding: 1rem;
    /* HORIZONTAL LAYOUT */
    max-width: 80svh;
    margin: 50px auto;
    /* STYLING */
    border-radius: 75px;
    box-shadow: 0px 0px 33px #333333;
    background-image: url(../assets/mountains-bottom.jpg);
    background-position: bottom;
    background-size: 100% 100%;
}

.welcome .hero {
    max-height: 80svh;
}

.welcome .hero .hero-links-container {
    /* container extends outside of .welcome */
}

.welcome .hero .title p {
    font-weight: 300;
}

.welcome .hero .hero-links-container button {
    display: block;
    margin: 2.5rem auto;
    color: black;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 2.5;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 1px 3.33px #333333;
    transition: all 0.5s;
}

.welcome .hero .hero-links-container button a {
    display: block;
    transition: all 0.33s;
}

.welcome .hero .hero-links-container button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 1px 9.99px #888888;
}

.welcome .hero .hero-links-container button a:hover {
    color: black;
}

/* ABOUT */
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80svh;
    padding: 2.5rem;
    padding-top: 5rem;
    /* HORIZONTAL LAYOUT */
    max-width: 80svh;
    margin: 50px auto;
    /* STYLING */
    border-radius: 75px;
    box-shadow: 0px 0px 33px #333333;
    background: #dddddd;
    background-image: url(../assets/mountains-bottom-被裁切.jpg);
}

.about p {
    font-size: var(--fs-300);
    text-align: left;
    height: 100%;
}

.about p .slideshow-box {
    width: 5.75rem;
    height: 5.75rem;
    float: right;
    margin: 0 0 5px 5px;
    overflow: hidden;
}

.about p .slideshow-box img {
    position: absolute;
    max-width: 5.75rem;
    max-height: 5.75rem;
    /* animation: cycleImages 6s infinite; */
}

.about p span img {
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 9s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 9s;
}

/* CYCLE IMAGE ANIMATION */
/* https://jsfiddle.net/5M2PD/4/ */
@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#f1 {
    -webkit-animation-delay: -0s;
    animation-delay: -0s;
}

#f2 {
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}

#f3 {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
}


/* POSTERS */
.posters {
    display: flex;
    height: 200px;
    margin: 0 auto 50px auto;
    max-width: 80svh;
    /* Scrolling */
    -webkit-mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent);
    mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent);
    overflow: hidden;
}

.posters img {
    margin: 0rem 0.5rem;
    animation: slide 125s linear infinite;
}

.posters .square {
    border-radius: 25px;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1500px, 0, 0);
    }
}

/* FOOTER */
footer {
    margin: 0 auto;
    max-width: 80svh;
    display: flex;
    flex-direction: column;
}

footer .other-links-container {
    text-shadow: 0px 0px 5px #1f1f1f;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .other-links-container .other-link-btn i {
    margin-right: 0.5rem;
    font-size: 1.7rem;
}

footer .other-links-container .other-link-btn {
    margin: 0rem 1rem 1rem 1rem;
    transition: all 0.5s;
    font-size: var(--fs-400);
}

footer .other-links-container .other-link-btn:hover {
    /* transform: translateY(2.5px); */
    scale: 125%;

}

footer .copyright {
    margin: 25px auto;
    color: white;
    font-size: var(--fs-200);
}

#logo {
    position: fixed;
    height: 3.33vh;
    bottom: 1rem;
    left: 1rem;
    opacity: 33%;
}

/* *****RESPONSIVE-DESIGN***** */
/* ~orientation switches from horizontal to vertical */
@media (max-width: calc(80svh + 10rem)) {
    html {
        font-size: 1.25rem;
    }

    .welcome,
    .about,
    .posters,
    footer {
        max-width: calc(100vw - 10rem);
    }

    /* .links-container {
        max-width: 66.66vw;
    } */
}

@media (max-width: calc(55svh + 10rem)) {
    html {
        font-size: 1.75rem;
    }

    footer .other-links-container {
        width: 100%;
    }

    .posters {
        height: 250px;
    }
}